body{
    background-image: "objects/back_ground.jpg";
    background-color: #dbdbdb;
}

.fill{
    min-height: 100vh;
    height: 100vh;
}

.picture{
    max-width:100%;
    background-size: cover;
}